.categories {
    margin: 0 auto;
    margin-bottom: 79px;
}

.categories__icon {
    display: block;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 39px;
}

.categories__row {
    width: 100%;
    display: flex;
}

.categories__item {
    display: flex;
    min-height: 446px;
    font-family: "Rajdhani";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 3px 0px rgba(20, 21, 24, 0.004);
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    white-space: nowrap;
}

.item-big {
    width: 75%;
}
/* @media screen and (max-device-width: 1260px){
    .categories__item{
        margin: 10px 0px;
    }
} */
@media screen and (max-device-width: 768px){
    .categories__icon{
        margin-top: 20px;
        margin-bottom: 28px;
    }
}
@media screen and (max-device-width: 500px){
   .categories__row{
        flex-direction: column;
    } 
    .item__corta{
        min-height: 167px;
    }
   .categories__item{
        width: 100%;
        margin: 10px 0px;
        min-height: 216px;
    } 
     
}
    /* .categories__row{
        padding: 0px 16px;
    } */
