* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
} */

/* .slider__line {
    display: flex;
    position: relative;
    transition: all ease 1s;
    max-height: 705px;
}

.offer__slider-wrapper {
    width: 100%;
} */

.offer__slider-prev {
    margin-right: 10px;
    cursor: pointer
}

.offer__slider-next {
    margin-left: 10px;
    cursor: pointer
}

.offer__slider #current {
    font-size: 48px;
    font-weight: 700;
    color: #000
}

.offer__slide {
    width: 100%;
    height: 390px
}

.offer__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.slider__text {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 40%;
    left: 10.5%;
}

.slider__text__header {
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 34px;
}

.slider__text__header-medium {
    font-weight: 500;
}

.slider__text__hr {
    background-color: rgb(0, 0, 0);
    width: 315px;
    margin-block-end: 0em;
    margin-block-start: 0em;
    height: 1px;
}

.slider__text__sports {
    font-family: Courier;
    font-size: 24px;
    padding-top: 12px;
    margin-bottom: 45px;
    
}

.slider__button {
    border: 2px solid #393939;
    background-color: transparent;
    padding: 5px 14px;
    font-size: 24px;
    font-family: Rajdhani;
    font-weight: 500;
    text-transform: uppercase;
}
.slick-dots{
    display: flex;
    position: absolute;
    bottom: 5%;
    left:45%;
}
.slick-dots li button{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
}
.slick-dots .slick-active button{
    background-color: rgb(34, 31, 31);
    color: black;
}
.slick-dots button{
    background-color: white;
    color: white;
}
@media screen and (min-device-width: 1000px){
    .slider__text{
        left:9.9%
    }
}
@media screen and (min-device-width: 800px) and (max-device-width: 900px){
.slider__text{
    left:9.5%
}
.slider__text__hr{
    max-width: 275px;
    width: 100%;      
}
}
@media screen and (max-device-width: 768px){
    .slider__text{
        left: 10%;
    }
    .slider__text__header{
        font-size: 22px;
    }
    .slider__text__sports{
        font-size: 15px;
    }
    .slider__text__hr{
            max-width: 205px;
            width: 100%;      
    }
    .slider__text__sports {
        margin-bottom: 30px;
    }
    .slider__button{
        padding: 0px;
        max-width: 78px;
        width: 100%;
        height: 25px; 
        text-align: center;  
        font-size: 16px;       
    }
    .slick-dots{
        left:43%;
    }
    .slick-dots li button{
        width: 14px;
        height: 14px;
    }
}
@media screen and (max-device-width: 450px){
    .header__slider_big{
        display: none;
    }
    .header__slider__small{
        display: block;
    }
    .header__slider__small .offer__slide img{
        height: 250px;
    }
    .slider__text__header {
        font-size: 14px;
    }
    .slider__text__sports {
        font-size: 11px;
        margin-bottom: 15px;
    }
    .slider__text {
        left: 9.5%;
    }
}