.form__container {
    display: flex;
    margin-bottom: 52px;
    width: 100%;
}

.main__form__block {
    position: relative;
    background-image: url("../../img/block-form.png");
    width: 100%;
    max-width: 225px;
    margin-right: 10px;
    
    min-height: 54px;
    background-repeat: no-repeat;
}

.block__form__text {
    font-weight: 600;
    font-size: 19px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 5px;
}

.form__item {
    display: flex;
}

.form__input {
    max-width: 377px;
    width: 100%;
    text-transform: uppercase;
    font-size: 19px;
    color: rgb(143, 143, 143);
    min-height: 54px;
    text-align: center;
    margin-right: 9px;
    border: none;
    border: 2px solid rgb(208, 208, 208);
}

.form__button {
    background-color: #d0d0d0;
    min-height: 54px;
    min-width: 215px;
    text-transform: uppercase;
    color: rgb(57, 57, 57);
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 5px;
    border: none;
    cursor: pointer;
    border-bottom: 4px solid rgba(20, 21, 24, 0.75);
}
@media screen and (max-device-width: 768px){
    .main__form__block{
        max-width: 136px;
        height: 29px;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form__container{
        margin-bottom: 35px;
    }
    .block__form__text{
        font-size: 14px;
        padding: 0px 5px;
        top:auto;
    }
    .form__input{
        min-height: 32px;
        height: 32px;
        font-size: 15px;
    }
    .form__button{
        min-height: 32px;
        height: 32px;
        font-size: 15px;
        letter-spacing: 0;
        max-width: 131px;
    }
}
@media screen and (max-device-width: 650px){
    .form__container{
        flex-direction: column;
    }
    .main__form__block{
        background-color: black;
        background-image: none;
        max-width: 100%;
        min-height: 40px;
        margin-bottom: 7px;
    }
    .block__form__text{
        top: 50%;
    }
    .form__input{
        margin-bottom: 7px;
        max-width: 100%;
    }
    .form__button{
        max-width: 100%;
    }
    footer{
        display: none;
    }
}