.header__menu {
    background-color: black;
    max-height: 48px;
    margin-bottom: 43px;
    position: relative;
}

.header__menu__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.menu__nav {
    display: flex;
}

.menu__header {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 6px 0px;
    text-transform: uppercase;
    margin-left: 100px;
    white-space: nowrap;
}

.menu__login {
    font-weight: 500;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    margin-right: 23px;
}

.menu__burger {
    position: relative;
    height: 24px;
    cursor: pointer;
}
.menu__basket{
    background-image: url("../../img/icons/basket_number88.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 46px;
    margin-right: 20px; 
    
}
.menu__burger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
}

.menu__burger span:first-child {
    top: 0;
}

.menu__burger span:last-child {
    bottom: 0;
}

.menu__burger .span__center {
    margin: 10px 0px;
}
@media screen and (max-device-width: 768px){
     .header__menu__container{
        padding: 0px 19px;
    } 
    .header__menu{
        margin-bottom: 28px;
    } 
}
@media screen and (max-device-width: 600px){
    .container__slider img {
        padding: 0px 16px;
    }
    .slide__block__active p{
       display: none;
    }
    .menu__login{
        margin-left: 28px;
    }
}
@media screen and (max-device-width: 450px){
    .header__menu__container{
        top: 0;
        position: fixed;
        background-color: black;
        z-index: 303;
    }
    .menu__login{
        display: none;
    }
    .menu__header{
        white-space: nowrap;
    }
    .menu__basket{
        height: 25px;
    }
    .menu__burger{
        height: 20px;
    }
    .menu__burger span{
     height: 2px;
    }
    .menu__burger .span__center {
        margin: 9px 0px;
    }
    .header__menu__container{
        padding: 0px 12px;
    }
    .menu__header {
        margin:7px 5px 7px 45px;
    }
}
@media screen and (max-device-width: 280px){
    .menu__header{
        font-size: 25px;
    }
}