.container__slider {
    max-width: 1183px;
    margin: 0 auto;
    width: 100%;
}

.container__slider img {
    margin-right: 16px;
}

.slide__block p {
    font-size: 15px;
    text-align: center;
}

.slide__block {
    position: relative;
}

.block__active__p {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font: 600;
    position: absolute;
    color: white;
    padding: 6px 0px;
    font-weight: 500;
    width: 100%;
    max-width: 186px;
    bottom: 7%;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: 2;
}
.slide__block__price{
    margin-top: 9px;
}
@media screen and (max-device-width: 768px){
    .section__header{
        margin-bottom: 25px;
    }
    .container__slider{
        max-width: 657px;
    }
    .container__slider img {
        margin-right: 10px;
    }
    .container__slider img{
        max-width: 152px;
        width: 100%;
    }
    .slick-track{
        margin-left: 10px;
    }
}
