.user__container {
    display: flex;
    margin-bottom: 74px;
}

.user__block {
    max-width: 287px;
    height: 287px;
    margin-right: 32px;
    position: relative;
}

.user_text {
    display: flex;
    font-family: "Rajdhani";
    align-content: center;
    justify-content: center;
    color: white;
    padding: 10px;
    margin: 10px;
}

.user__black__container {
    display: none;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.user__black__title {
    margin-top: 6px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 24px;
}
.container__slider__user{
    margin-bottom: 78px;
}
.container__slider__user .slide__block{
    padding: 0px 10px;
}

@media screen and (max-device-width: 768px){
    .user__container{
        display: flex;
        justify-content: center;
        margin-bottom: 43px;
    }
    .user__block{
        max-width: 168px;
        height: 168px;
        margin-right: 16px;
    }
    .user__block:last-child{
        margin-right: 0px;
    }
    .container__slider__user{
        margin-bottom: 37px;
        }
}
@media screen and (max-device-width: 320px){
    .container__min{
        display: block;
    }
    .user .container__slider__user{
        display: none;
    }
}
